    .teacher-card {
        /* width: 400px; */
        margin: 0px auto;
        background-color: white;
        box-shadow: 0px 5px 20px #555;
        margin: 1.5rem;
    }

    .teacher-card a {
        color: #333;
        text-decoration: none;
    }

    .teacher-card:hover .card-image img {
        width: 110%;
        filter: grayscale(0);
    }

    .card-image {
        height: 250px;
        position: relative;
        overflow: hidden;
    }

    .card-image img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: grayscale(1);
        transition-property: filter width;
        transition-duration: .3s;
    }

    .card-body {
        text-align: center;
        padding: 15px 20px;
        box-sizing: border-box;
    }

    .card-role {
        font-family: 'Source Sans Pro', sans-serif;
    }

    .card-title,
    .card-exceprt {
        font-family: 'Playfair Display', serif;
    }

    .card-role,
    .card-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .card-role,
    .card-exceprt,
    #case-title {
        color: #777;
    }

    #case-title {
        position: absolute;
        font: 18px 'Microsoft YaHei';
        top: 10px;
        left: 0px;
        right: 0px;
        margin: auto;
        display: block;
        text-align: center;
        text-decoration: none;
    }